*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
 html,body{
    /* display: grid; */
    height: 100vh;
    place-items:center;
    background: #c8e8e9;
  } 
  :root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #000000;
    --gray: #838E95;
    --font-color:#869ab8;
    --btn-color: #313232;
    --border-btn:0.0.1rem;
    --btn-margin:0.5rem;
    --btn-padding:0.5rem;
    --h2:1.5rem;
  }
.btn{
  text-decoration: none;
  border: 0.1rem solid var(--btn-color);
  border-radius: 0.3rem;
  color: var(--btn-color);
  padding: 0.5rem 1.19rem;
  margin: 0.4rem 0.4rem;
}


/* navigation bar */
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.6rem;
  flex-wrap: wrap;
}
.left{
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
}
.left ul{
  display: flex;
}

.left ul li{
  list-style: none;
  font-family: sans-serif;
}

.left ul li a{
  padding:0.5rem;
  color: gray;
  text-decoration: none;
  font-size: 1rem;
  margin: 0.05rem;
}

.left ul li:first-child a{
  list-style: none;
  color: white;
}

.left ul li:first-child a:hover{
  color: gray;
}

.left ul li a:hover{
  color:white;
}

.right{
  display: flex;
}

.search-icon{
  color: white;
  font-size: 1.35rem;
  padding: 0.5rem 1rem;
  margin: 0.4rem 0.4rem;
}

.right .btn:nth-child(2){
  color: white;
}

.right .btn:nth-child(3){
  background-color: var(--blue);
  color: white;
}
/*/nav*/
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(140, 232, 223);
    border: 0.15rem solid red;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.container .brand-lg{
    margin: 0.5rem auto;
}

.container .brand-lg a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family:  Arial, sans-serif;
    padding: 0.3rem;
}
.container .brand-lg a span{
    font-family: 'Satisfy', cursive;
    color: dodgerblue;
    font-size: 1.5rem;
}
  .main_div{
    /* width: 365px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); */
    width: 365px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    margin: 6.5rem auto;
  }
  .main_div .title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: hwb(225 0% 0%);;
  }
  form {
    margin-top: 25px;
  }
  form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }
  .input_box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .input_box input:focus{
    border-color: #c8e8e9;
  }
  .input_box .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
  }
  form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .option_div .check_box{
    display: flex;
    margin-top: 5px;
    align-items: center;
  }
  
  .option_div.check_box span{
    margin-left: 5px;
    font-size: 16px;
    color: #333;
  }
  .option_div .forget_div a{
    font-size: 16px;
    color: hwb(225 0% 0%);
  }

  .check_box{
    margin-top: 5px;
    margin-right: 90px;
  }

  .button{
    margin-top: 80px;
    margin-right: 100px;
  }

  .forget_div{
    top:auto;
  }
  
  .button input{
    padding-left: 0;
    background: hwb(225 0% 0%);
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .button input:hover{
    background: #c8e8e9;
  }
  
  form .sign_up{
    text-align: right;
    margin-top: 25px;
  }
  .sign_up a{
    color: #c8e8e9;
  }
  form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
    text-align: right;
  }
  .news-letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--blue);
    height: 49vh;
    align-items: start;
    opacity: 0.9;
}


.news-letter .new-letter-box{
    text-align: start;
    padding: 0.5rem 4.5rem;
    margin-top: 0.5rem;
}

.news-letter .new-letter-box h2{
    color: white;
    font-size: 2rem;
}
.news-letter .new-letter-box p{
    color: var(--black);
    font-size: 0.791rem;
    padding: 0.5rem 6.78rem 0.5rem 0.5rem;
    font-family: sans-serif;
    margin: 0.1rem 8.1rem 0.1rem 0.1rem;
}


.news-letter .btn-items{
    /* display: flex; */
    /* text-align: start; */
    padding: 0.5rem 4rem;
    margin: 0.1rem 0.82rem;
}

.news-letter .btn-items input{
    border: 0.119rem solid black;  
    border-radius: 0.25rem;
    padding: 0.5rem 0.78rem;
    background-color: white;
    color: black;
    font-size: 1.29rem;
    margin: 0.5rem 0rem;
    text-align: left;
}

.news-letter .btn-items a{
    background-color: black;
    color: white;
    font-size: 1.29rem;
    font-family: serif;
}

/* footer section */
.footer{
    display: flex;
    padding: 2rem;
    background-color: var(--black);
    height: 43vh;
    justify-content: center;
}

.footer .col{
   width: 41%; 
   padding: 0.5rem 2rem;
   margin: 0.5rem;
   background-color: #E1306C;
}

.footer  .footer-about a{
    text-decoration: none;
    color: white;
}
.footer  .footer-about .brand-lg{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.65rem;
    font-family: Arial, sans-serif;
} 
.footer  .footer-about p{
    font-size: 1rem;
    font-family: Arial, sans-serif;
    padding-top: 0.4rem;
    color: var(--gray);
}

.footer  .footer-about .brand-lg span{
    font-family: 'Satisfy', cursive;
    color: dodgerblue;
    font-size: 1.59rem;  
}

 .footer  .footer-company h4{
    color: white;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 0.5rem 0rem;
 }

 .footer  .footer-company ul li{
    list-style: none;
    font-family: sans-serif;
    padding: 0.34rem 0rem;
}

.footer  .footer-company ul li a{
    color: gray;
    text-decoration: none;
    font-size: 1rem;
}
 .footer  .footer-resources h4{
    color: white;
    font-size: 1.11rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 0.5rem 0rem;
 }
 
 .footer  .footer-resources ul li{
    list-style: none;
    font-family: sans-serif;
    padding: 0.34rem 0rem;
}
.footer .footer-resources ul li a{
    color: gray;
    text-decoration: none;
    font-size: 1rem;
}


/* sub-footer section*/
.sub-footer{
display: flex;
background-color: black;
height: 10vh;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.sub-footer .copy-rights p{
font-size: 1em;
margin: 0.0912rem 1rem;
font-family: sans-serif;
color: white;
}
.sub-footer .copy-rights p a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family:  Arial, sans-serif;
}
.sub-footer .copy-rights p a span{
    font-family: 'Satisfy', cursive;
    color: dodgerblue;
    font-size: 1rem;   
}

.sub-footer .social-icons a{
    margin: 0.0912rem 1rem;
    color: white;
}
.sub-footer .social-icons a i{
    font-size: 1.21rem;
    /* color: white; */
 }
 .sub-footer  .social-icons a i:first-child:hover{
    color:var(--insta-color);
 }
 .sub-footer  .social-icons a i:nth-child(2):hover{
     color:var(--twitter-color);
 }
 .sub-footer .social-icons a i:nth-child(3):hover{
    color: var(--facebook-color);;
 }
  